@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    <img src="~/lib/images/web_developer_resume_cover_letter.jpg" />
</div>
